<p>Hay {{data.cantidadEquipos}} equipos &nbsp;&nbsp; 
    <a href="/equipos/agregar">Agregar equipos</a>
</p> 

<div class="borde" id="equipos">
    <div class="borde" id="nombre-equipos">
        <p>Equipos</p>
        <ul>
            {{#each equipos}}
            <li>{{name}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="borde" id="pais-equipos"> 
        <p>País</p>
        <u>
            {{#each equipos}}
            <li>{{area}}</li>
            {{/each}}
        </u>
    </div>
    <div class="borde" id="acciones">
            <p>Acción</p>
            <ul>
            {{#each equipos}}
            <li>
                <a href="/equipos/{{id}}/ver">Ver,</a><a> Editar,</a><a href="/equipos/{{id}}/eliminar"> Eliminar</a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>


